[Unit]
Description = loginchecker

[Service]
ExecStart=/home/pi/jam/logincheck.py
ExecStop=/bin/kill ${MAINPID}
User=pi
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target
