[Unit]
Description = slackbot

[Service]
ExecStart=/home/pi/slackbot/run.py
ExecStop=/bin/kill ${MAINPID}
User=pi
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target
