[Unit]
Description = teambot

[Service]
ExecStart=/home/pi/discordbot/teambot.py
ExecStop=/bin/kill ${MAINPID}
User=pi
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target
