[Unit]
Description = tweetsync

[Service]
ExecStart=/home/pi/tweetsync/post_discord.py
ExecStop=/bin/kill ${MAINPID}
User=pi
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target
